   <div th:fragment="sidebar" class="sidebar">
       <ul>
           <li>
               <a class="side-btn" th:href="@{/dashboard}">ダッシュボード</a>
           </li>
           <li>
               <a class="side-btn" th:href="@{/userProfile}">ユーザープロフィール</a>
           </li>
           <li>
               <a class="side-btn" th:href="@{/reports}">日報一覧</a>
           </li>
		   <li>
              <a class="side-btn" href="https://kirias1996.github.io/studyLog/manual/studyLog_manual.html">操作マニュアル</a>
          </li>
       </ul>
   </div>
