<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザプロフィール</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="~{header::headerArea}"></header>

    <div class="wrapper">
        <div class="sidebar" th:replace="~{fragments/sidebar :: sidebar}"></div>

        <div class="profileview-main">
            <div class="main">
                <h1 class="userProfile">ユーザプロフィール</h1>
				<p th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></p>
                <div>
                    <!-- プロフィール画像 -->
                    <img th:src="@{${userProfile.iconUrl}}" alt="プロフィール画像" width="150" height="150">
                </div>

                <div class="profileview-main-contents">
                    <p>ユーザ名：<span th:text="${userProfile.userName}">ユーザ名</span></p>
                    <p>メールアドレス：<span th:text="${userProfile.email}">example@example.com</span></p>
					<div class = "profile-section">
						<p class = "profile-section-label">自己紹介：</p>
	                    <p class = "profile-text" th:text="${userProfile.profileText}">ここに自己紹介が入ります</p>						
					</div>
                </div>

                <!-- デフォルトアイコンの時だけクレジット表記を表示 -->
                <div th:if="${userProfile.isDefaultIcon()}">
                    <p style="font-size: 0.8em;">
                        アイコンイラスト提供：
                        <a href="https://www.ac-illust.com/" target="_blank" rel="noopener noreferrer">イラストAC</a>
                    </p>
                </div>

                <div>
                    <a class="btn-style" th:href="@{/userProfile/edit}">プロフィール編集</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
