<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>プロフィール編集</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="/js/fileSizeCheck.js"></script>
</head>

<body>
    <header th:replace="~{header::headerArea}"></header>
    <div class="wrapper">
        <div class="sidebar" th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div class="form-main">
			<div class = "form-main-list">
	            <h1>プロフィール編集</h1>
	
	            <form th:action="@{/userProfile}" th:object="${userProfile}" method="post" enctype="multipart/form-data">
	            	<p th:if="${#fields.hasErrors()}" class="alert alert-error">入力内容にエラーがあります。修正してください。</p>
	
	                <div class="form-row">
	                    <label class="main-text" for="email">メールアドレス:</label><br>
	                    <input type="email" id="email" th:field="*{email}" readonly />
	                </div>
	                <br>
	
                    <p class="alert alert-error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">ユーザ名エラー</p>
	                <div class="form-row">
	                    <label class="main-text" for="userName">ユーザ名:</label><br>
	                    <input type="text" id="userName" th:field="*{userName}" />
	                </div>
	                <br>
	
                    <p class="alert alert-error" th:if="${#fields.hasErrors('profileText')}" th:errors="*{profileText}">プロフィール文エラー</p>
	                <div class="form-row">
	                    <label class="main-text" for="profileText">プロフィール文:</label><br>
	                    <textarea id="profileText" th:field="*{profileText}" rows="5" cols="40"></textarea>
	                </div>
	                <br>
                    <div class="alert alert-error" th:if="${#fields.hasErrors('iconImage')}">
                        <ul class="no-bullet">
                            <li th:each="err : ${#fields.errors('iconImage')}" th:text="${err}"></li>
                        </ul>
                    </div>
					<p class="alert alert-error" id="fileSizeError"></p>
	                <div class="form-center">
						<div>
		                    <img th:src="@{${userProfile.iconUrl}}" alt="プロフィール画像" width="150" height="150">
		                </div>
						<input type ="hidden" th:field="*{iconUrl}">
	                    <label class="main-text" for="iconImage">アイコン画像</label><br>
	                    <input type="file" id="iconImage" name="iconImage" />
	                </div>
	                <br>
	
	                <div class="form-center">
	                    <button type="submit">編集する</button>
	                </div>
	            </form>
			</div>
        </div>
    </div>
</body>

</html>
