<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>日報フォーム</title>
    <meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="/js/suggest.js"></script>
</head>
<body>
	<header th:replace="~{header::headerArea}"></header>
	
	<div class="wrapper">
        <div class="sidebar" th:replace="~{fragments/sidebar :: sidebar}"></div>
		<div class="form-main">
			<div class ="form-main-list">
			    <h1 th:text="${isEdit} ? '日報編集' : '日報登録'">日報フォーム</h1>
			
			    <form th:action="@{${isEdit} ? '/reports' : '/reports'}"
			          th:object="${reportRequestDto}" method="post">
					<!-- isEdit が true のときだけ PUT 指定の hidden フィールドを出力 -->
					<input type="hidden" name="_method" value="put" th:if="${isEdit}" />
							  
					<!-- 編集モードの時だけIDをhiddenで渡す -->
					<input type="hidden" th:if="${isEdit}" th:field="*{id}" />
			
			        <div>
						<div th:if="${#fields.hasErrors('learningDate')}" th:errors="*{learningDate}" style="color:red"></div>
			            <label>学習日付</label>
			            <input type="date" th:field="*{learningDate}" required />
			        </div>
			
					<div>
						<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red"></div>
			            <label>学習概要</label>
						<textarea th:field="*{title}" rows="5" cols="60" required></textarea><br>
			        </div>
			
			        <div>
						<div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red"></div>
			            <label>学習内容</label><br>
			            <textarea th:field="*{content}" rows="5" cols="60" required></textarea><br>
			        </div>
					<div th:if="${#fields.hasErrors('tagName')}" th:errors="*{tagName}" style="color:red"></div>
			        <div>
			            <label for="tagInput">タグ名</label>
						<div class="suggest-container">
							<input type="text" id="tagInput" placeholder="タグを入力" name="tagName"
						 	th:value="${reportRequestDto.capitalizeDisplayTagName()}" required />
							<ul id="suggestionList"></ul>
						</div>
			        </div>
			
			        <div>
						<div th:if="${#fields.hasErrors('learningHours')}" th:errors="*{learningHours}" style="color:red"></div>
			            <label>学習時間(時間)</label>
						<select id="learningHours" name="learningHours" th:field="*{learningHours}">
						  <th:block th:each="i : ${#numbers.sequence(0, 23)}">
						    <option th:value="${i}" th:text="${i}">0</option>
						  </th:block>
						</select>
						<label>学習時間(分)</label>
						<select id="learningMinutes" name="learningMinutes" th:field="*{learningMinutes}">
						  <option value="0">0</option>
						  <option value="15">15</option>
						  <option value="30">30</option>
						  <option value="45">45</option>
						</select>
			        </div>
			
			        <div class="form-actions">
			            <button type="submit" th:text="${isEdit} ? '編集する' : '登録する'"></button>
						<a class="btn1 btn-style" th:href="@{/reports}">一覧に戻る</a>
			        </div>
			    </form>
			</div>
		</div>
	</div>
	
</body>
</html>
