<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header></header>

    <div class="signup-main">
        <h1>ユーザー登録</h1>

        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>

        <div th:if="${errorMessage}" class="alert alert-error">
            <p th:text="${errorMessage}"></p>
        </div>

        <form class="form-place" th:action="@{/signup}" th:object="${userCreateDto}" method="post">
            <div class="form-style">
                <label for="email">メールアドレス:</label>
                <input type="email" id="email" th:field="*{email}" required />
            </div>

            <div class="form-style">
                <label for="password">パスワード:</label>
                <input type="password" id="password" th:field="*{password}" required />
            </div>

            <div class="form-style">
                <label for="confirmPassword">パスワード確認:</label>
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required />
            </div>

            <div class="form-style">
                <button type="submit">登録</button>
            </div>
        </form>
    </div>
</body>

</html>
